select {
  width: 7rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: black;
  font-size: 1rem;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(./dd.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 1rem;
}
select::-ms-expand {
  display: block;
}
