body {
  background-color: black;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

button {
  outline: none;
  background-color: tomato;
  color: white;
  font-size: 32px;
  margin: 16px 0;
  cursor: pointer;
}
